// /src/styles/index.js

@import './_global.scss';

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: helvetica;
	background-color: $silver;
}

// pitch related styles
#_thePitch{
	max-width: 800px;
    margin: auto;
    border-bottom: 700px solid $nephritis;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    height: 0;
    padding: 20px 0 0;
    box-shadow: 0px 16px 25px -14px rgba(0,0,0,0.4);
}

// player related styles
.player-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px 0;
}

.player-card{
	text-align: center;
    border: 5px solid $wetasphault;
    width: 160px;
    height: 100px;
    position: relative;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.3);
	@include bRadius(5px);
	cursor: pointer;
	background-color: $wetasphault;	
	background-size: cover;
	background-position: -72px 0;
	background-repeat: no-repeat;

	&:not(:last-child){ margin-right: 20px; }
	&:active{ box-shadow: none; }

	.badge{
		position: absolute;
	    top: 10px;
	    left: 5px;
	    bottom: 10px;
	    width: 35px; 
	}	

	.badge-layer{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 1;
		background-color: rgba(52, 73, 94, 0.8);
	}

	.info{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2;
		color: $Fs;
	    align-items: flex-end;
	    justify-content: center;
	    display: flex;
	    flex-direction: column;
	    padding: 0 5px 0 0px;
	}

	.name{
		font-size: 16px;
		font-weight: 500;
		@include noUserSelect();
	}

	.position{
		font-size: 14px;
		font-weight: 200;
		@include noUserSelect();
	}
}

// player search container related styles
#_playerSearchContainer{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
	overflow-y: auto;

	.inner-container{
		border: thin solid red;
		max-width: 700px;
		margin: auto;
	}

	.title{
		font-size: 27px;
		text-align: center;
		color: $Fs;
		margin: 30px 0 0;
	}	
}

.replacer-container{
	border: thin solid blue;
	text-align: center;
	margin: 30px 0;

	> div{
		display: inline-block;
		vertical-align: middle;
	}

	.arrow{
		font-size: 50px;
		font-weight: 700;
		color: $Fs;
		margin: 0 25px;
	}
}

.input-wrapper{
	width: 500px;
	margin: 0 auto 30px;
}

.search-input{
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 3px;
}

.results-container{
	border: thin solid green;
}

.player-result{
	color: $Fs;
	border: 1px solid $Fs;
	padding: 10px;
	font-size: 16px;
}


















